@font-face { font-family: 'Hydra'; src: url('6809%20chargen.ttf'); }

.hiddenText { font-family: 'Hydra' ; visibility: hidden;}


html{
	text-align: center;
}
body {
	text-align: center;
	background-color: #333;
    margin: 10px auto;
    display: inline-block;
    color: #D5D5D5;
}
div{
	text-align: center;
	margin: 0 auto;
}

#links {
  margin-top: 12px;
}

#links a {
  color: #ddd;
  text-decoration: none;
}
