
html{
	text-align: center;
}
body {
	text-align: center;
	background-color: #333;
    margin: 10px auto;
    display: inline-block;
    color: #D5D5D5;
}
div{
	text-align: center;
	margin: 0 auto;
}
